:root {
  --color-leaf-50: #d6ecdf;
  --color-leaf-600: #26453d;
  --color-sun-400: #f0bb6a;
  --color-petal-50: #fff8f7;

  // Deprecated color variables
  --color-primary: var(--color-leaf-600);
  --color-secondary: var(--color-sun-400);
  --color-background: var(--color-petal-50);
}

:root {
  --color-light: #F9F9F9;
	--color-dark: var(--color-leaf-600);

	// App background
	--color-app-bg: var(--arc-palette-background, var(--color-light));

	// High-contrast text
	--color-high-contrast-text: var(--arc-palette-title, var(--color-leaf-600));
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-light: #F9F9F9;
    --color-dark: var(--color-leaf-600);

    // App background
    --color-app-bg: var(--arc-palette-title, var(--color-light));

    // High-contrast text
    --color-high-contrast-text: var(--arc-palette-background, var(--color-leaf-600));
	}
	:global(html) {
		color-scheme: dark;
	}
}

