@use './colors.scss';

:global(body) {
	font-family: 'Lexend Deca', sans-serif;
	background-color: var(--color-app-bg);
	color: var(--color-high-contrast-text);

  // text smoothing / antialiasing / rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

:global(a) {
	color: inherit;
	text-decoration: underline;
	transition: text-decoration-color 10ms;

	&:hover {
		text-decoration-color: var(--color-dark);
	}
}
